.cabeçalho__menu-hamburguer {
  width: 24px;
  height: 24px;
  background-image: url('../assets/Menu.svg');
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  padding: 2em;
}

.cabeçalho {
  background-color: var(--branco);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  /* padding: 0 1em; */

}

.container {
  display: flex;
  align-items: center;
}

.container__img {
  padding: 1em;

}

.lista-menu {
  display: none;
  position: absolute;
  top: 100%;
  width: 60vw;

  z-index: 99;
}

.lista-menu__titulo,
.lista-menu__item {
  padding: 1em;
  background-color: var(--branco);

}




.lista-menu__link {
  background: var(--azul-degrade);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-transform: uppercase;
}

.lista-menu__titulo {
  color: var(--laranja);
  font-weight: 700;
}

.container__botao:checked~.lista-menu {
  display: block;
}

.container__botao {
  display: none;
}

.container__titulo {
  display: none;
}

.opcoes {
  display: none;
}

.container__texto {
  display: none;
}

.container__botao:checked~.container__rotulo>.cabeçalho__menu-hamburguer {
  background-image: url('../assets/Menu\ Aberto.svg');

}

.container__botao:checked~.container__rotulo {
  background: var(--azul-degrade);
}

@media screen and (min-width: 1024px) {
  .container__titulo, .container__titulo--negrito {
    font-family: var(--fonte-secundario);
    font-size: 30px;
    display: inline-block;
  }

  .container__titulo--negrito {
    font-weight: 700;
  }

  .opcoes {
    display: flex;
  }

  .opcoes__item {
    padding: 0 1em;
    text-transform: uppercase;
  }

  .opcoes__link {
    color: var(--preto);

  }

  .container__img__none {
    display: none;
  }

  .cabeçalho__menu-hamburguer {
    display: none;
  }

  .opcoes__botao:checked~.lista-menu {
    display: block;
    width: auto;
  }

  .opcoes__botao {
    display: none;
  }

  .opcoes__botao:checked~.opcoes__rotulo> .opcoes__item{
    background: var(--azul-degrade);
    color: var(--branco);
  }
  .opcoes__item{
    padding: 2em 1em;
  }
  .lista-menu__item:hover{
    background: var(--azul-degrade);
  }
  .lista-menu__item:hover> .lista-menu__link{
    -webkit-text-fill-color: var(--branco);
  }
}

@media screen and (min-width: 1728px) {
  .cabeçalho {
    padding: 0 2em;
  }

  .container__link {
    display: flex;
    align-items: center;
    font-size: 20px;
    color: var(--preto);

  }

  .opcoes {
    margin-right: auto;
  }

  .container__texto {
    display: block;
  }
}